body{
    background-color: black;
    background-image: url(https://www.pakutaso.com/shared/img/thumb/HIRO95_yuubaenokage_TP_V.jpg);
    color: rgba(0,0,0,0.5);
    position: absolute;

    font-size: 10px;

    position: fixed;
}

.back_g{


    background-color: rgba(255,255,255,0.4);
    background-position: 50% 50%;            /* 背景画像の位置は画面中央 */
    background-attachment:fixed;             /* 背景画像を固定する */
    background-size: cover;
    
  
    height: 100%;
  
    background-repeat:repeat-y;
    overflow: hidden;

    padding: 30px;

    border-radius: 20px;

    text-align: center;


}

.b_s{
    
    width: 100%;  
   
    padding:10px;

    padding-left: 10px;
}

a{

   color: rgba(255,255,255,0.9);

    
    text-decoration: none;

}



button:hover{
    background-color:rgba(0,0,0,0.5);
    color: black;
    /*トランジションプロパティ */
    transition:all 0.4s;

    /* 拡大 */
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.1);

/*トランジションプロパティ */
transition:all 0.3s;
}

.sl_button{
        /* このマージンは、ラベルとテキストフィールドの間のスペースと
       おおよそ同じスペースを表す */
    margin-left: .5em;
    
        /* 文字サイズを1.4emに指定 */
    font-size: 1.4em;
    
    /* 文字の太さをboldに指定 */
        font-weight: bold;
    
    
    /* 縦方向に10px、 横方向に30pxの余白を指定 */
        padding: 10px 30px;
    
    
       /* 文字色を白色に指定 */
        color: #fff;
    
           /* 背景色指定 */
        background-color: rgba(51,51,51,0.2);
               
          /* ボーダーをなくす */
         
          border: 1px solid #CCC;
          border-radius: 1em;
    
    /*トランジションプロパティ */
    transition:all 0.5s;
    
}

.sl_button:hover{

    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.1);
    
      /*トランジションプロパティ */
    transition:all 0.3s;

}


ul li{
    display: inline;
}

.yokoso{
    padding-left: 10px;
    font-size: 60px;
    color: white;
}

